HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/dataSources
.idea/httpRequests
.idea/shelf
.idea/compiler.xml
.idea/dataSources.xml
.idea/gradle.xml
.idea/misc.xml
.idea/sqlDataSources.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/.gitignore
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
